  
<!---header---->   
<div class="header">  
  <div class="container">
    <div class="logo">
     <a href="{{ site_url('demo') }}"><img src="{{ base_url() }}/assets/user-src/images/logo.jpg" title=""></a>
    </div>
    <!---start-top-nav---->
    <div class="top-menu">
     
      <span class="menu"> </span> 
       <ul>
      <li class="active">
       <a href="{{ site_url('demo') }}"> MAIN </a>
      </li>    
      <li>
       <a href="{{ site_url() }}"> ABOUT </a>
      </li> 
      <div class="clearfix"> </div>
     </ul>
    </div>
    <div class="clearfix"></div>
     
    <!---//End-top-nav---->     
  </div>
</div>
<!--/header--> 
 
